.control  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 0.2s;  
    border: 1px solid #e4f9ff; 
    min-height: 4vh;
    overflow: hidden;
    background-color: #181d3855;
    color: #e4f9ff;
    cursor: pointer;
    margin: 1vh;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: absolute;
    flex: 0 0 60px;
    height: 60px;
    width: 60px;
    max-width: 80px;
    max-height: 80px;
    user-select: none;
    border-radius: 150px; 
    background-size: contain;
    box-sizing: content-box;
}
.control-small  {
    position: absolute;
    flex: 0 0 60px;
    height: 40px;
    width: 40px;
    border-radius: 150px; 
    background-size: contain;
    box-sizing: content-box;
}
.control:hover,
.control-small:hover {
    background-color: #e4f9ff;
    color: #181d38;
    cursor: pointer;
    border-color:  #181d38;
    box-sizing: content-box;
}

.control:hover,  
.control-small:hover
{
    box-sizing: content-box;
    border: 1px solid #e4f9ff; 
    background-color: #181d3855;
}
.butt-left {
    bottom: 1.5rem;
    left: .5rem;
    background: url(../res/assets/37b4bc1_c-top.webp) center no-repeat;
    background-size: contain;
    rotate: 270deg;
}
.butt-right {
    bottom: 1.5rem;
    left: 5rem;
    background: url(../res/assets/37b4bc1_c-top.webp) center no-repeat;
    background-size: contain;
    rotate: 90deg;
}
.butt-front {
    bottom: 5.5rem;
    right: 1rem;
    background: url(../res/assets/37b4bc1_c-top.webp) center no-repeat;
    background-size: contain;
}
.butt-back {
    bottom: 1.5rem;
    right: 1rem;
    background: url(../res/assets/37b4bc1_c-top.webp) center no-repeat;
    background-size: contain;
    rotate: 180deg;
}
.butt-info {
    background-color: none;
    border: none;
    top: .5rem;
    left: 1rem;
    background: url(../res/assets/37b4bc1_c-i.webp) center no-repeat;
    background-size: contain; 
}
.butt-lock {
    background-color: none;
    border: none;
    top: .5rem;
    right: 1rem; 
    background: url(../res/assets/37b4bc1_mouse.webp) center no-repeat; 
    background-size: contain;
}
.ui button.butt-fullscreen:hover, 
.ui button.butt-info:hover,
.ui button.butt-sound:hover,
.ui button.butt-sound-n:hover
{
    background-color: none;
    border: none;
}
.count-energy {
    position: absolute;
    top: .8rem;
    right: 5rem;
    width: 30vw;
    min-width: 30vw;
    max-width: 30vw;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #181d381f;
    z-index: 100;
    min-height: 15px;
    max-height: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-items: end;
    justify-content: end;
}
.count-energy-inner {
    min-width: 10vw;
    min-height: 30px;
}
.color-blue {
    background-color: #7145f6a6;
}
.color-yellow {
    background-color: #ffff22ce;
}
.final-dark {
    position: absolute;
    z-index: 400;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #231143;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.final-page {
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #11194386;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-style: italic;
}
.final-page a {
    color: #ffffff;
}
.height-20px {
    min-height: 20px;
}
.height-60px {
    min-height: 60px;
}
.dark {
    background-color: #11194386;
    padding: 0 30px;
    min-width: 250px;
}
.list-elem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

